
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://avatars2.githubusercontent.com/u/47807713?s=460&u=4deb1f71c8b8cdd9b4d57168ae606c7f04811a48&v=4" alt="Fatih" style="width:100%">
            <div class="container-about">
                <h2>Fatih M. GENÇ</h2>
                <p class="title-about">Author & Admin</p>
                <p>Computer engineering student, creator of this blog.</p>
                <p>fatihmgenc@gmail.com</p>
                <a href="mailto:fatihmgenc@gmail.com" class="button">Contact</a>
            </div>
        </div>
    </div>
</div>

