@model LoginViewModel
@{

}

<form asp-action="Login" method="post" asp-controller="Auth">
    <div class="userName">
        <input  asp-for="UserName" placeholder="UserName" />
    </div>

    <div class="password">
        <input placeholder="Password" asp-for="Password" />
    </div>
    <div class="signInSubmit">
        <input type="submit" value="Sign in" />
    </div>
</form>