@model PostViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />
<div>
    <form asp-action="Edit" asp-controller="Panel" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div class="">
            <label>Title</label>
            <input asp-for="Title" class="" />
        </div>
        <div class="">
            <label>Description</label>
            <input asp-for="Description" class="" />
        </div>
        <div class="">
            <label>Tags</label>
            <input asp-for="Tags" class="" />
        </div>
        <div class="">
            <label>Category</label>
            <select asp-for="Category" class="">
                <option value="Data">Data</option>
                <option value="Algorithm">Algorithm</option>
                <option value="Frameworks">Frameworks</option>
                <option value="Programming">Programming</option>


            </select>
        </div>
        <div class="">
            <label>Body</label>
            <textarea id="editor" asp-for="Body"></textarea>
        </div>
        <div class="">
            <label>Image</label>
            <input asp-for="Image" />
            <input asp-for="CurrentImage" type="hidden" />
        </div>
        <input type="submit" value="submit" class="" />
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script>
    $('#editor').trumbowyg();

    </script>
}
