body {
    margin: 0;
    background-color: #aa8b8b;
}

a {
    color: white;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

nav {
    background-color: #2f2525;
    height: 50px;
    width: 100%;
    text-align: center;
}

    nav a {
        display: inline-block;
        padding: 15px;
    }

.main-img {
    position: relative;
    height: 400px;
    background-image: url(../Content/Static/BackGroundImage.png);
    background-position: center;
    background-size: cover;
}

.title {
    position: absolute;
    color: black;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
}

.title-main {
    background-color: black;
    position: absolute;
    color: white;
    font-size: 44px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.post {
    margin: 5px;
    position: relative;
    display: flex;
    height: 400px;
    width:100%;
    box-shadow: 0 0 5px 0 black;
}

    .post-img {
    width: 100%;
    object-fit: cover;
}

    .post-body {
    padding: 20px 5px;
    margin: -5px 5px 0;
    object-fit: cover;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.no-shadow {
    box-shadow: none;
}
